// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.form-content{
    display: flex;
    flex-direction: column;
    padding-top: 3%;
    justify-content: center;
    margin-top: 20%;
    width: 550px;
    height: 50%;
    background-color:#61C9A8;
}

.title{
    color:  #4C3B4D;
    font-weight: bold;
}

.button{
    background-color: #4C3B4D;
    color: #fffcf8;
}

.result{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20%;
    width: 500px;
    height: 50%;
    align-content: center;
    align-self: center;
    font-weight: bolder;
}